.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 12px;
  place-items: center;
}

.rule {
  font-size: 0.75rem;
  font-style: italic;
  margin: 0;
}

.valid {
  color: var(--accent);
}

.invalid {
  color: var(--error);
}
